/* Default Variables */
:root{
/*   --light-background-color: #D8DDD9;
  --dark-background-color: #121212;
  --background-color: #D8DDD9;
  --text-color: #070604;
  --link-color: black; */
    --light-background-color: #D8DDD9;
  --dark-background-color: #1f1c2c;
  --background-color: #D8DDD9;
  --text-color: #070604;
  --link-color: black;
  --link-hover-color: #74c4ec;
  --navbar-background: rgba(0, 0, 0, 0);
  --code-box-background: #f8f8ff;
  --code-box-text-color: #2f3542;
  --code-box-border-color: #ced6e0;
  --project-descriptions-bg: rgba(255, 255, 255, 0.046);
  --project-descriptions-hover-bg: rgba(255, 255, 255, 0.2);
  --selected-project-bg: rgba(116, 196, 236, 0.6);
  --side-menu-bg: rgba(0, 0, 0, 0);
  --transition-duration: 2s;
  --ripple-size: 0%; /* Dynamically controlled ripple size */
  --clip-path-size: 0%; /* Initial size for the ripple */
  /* Add other variables as needed */
}

/* Dark Mode Variables */
.App.dark-mode {
  --background-color: var(--dark-background-color);
  --text-color: #E0E0E0;
  --link-color: #E0E0E0;
  --link-hover-color: #BB86FC;
  --navbar-background: #1E1E1E;
  --code-box-background: #1E1E1E;
  --code-box-text-color: #E0E0E0;
  --code-box-border-color: #333333;
  --project-descriptions-bg: rgba(255, 255, 255, 0.1);
  --project-descriptions-hover-bg: #2A2A2A;
  --selected-project-bg: #333333;
  --side-menu-bg: transparent;

}

html, body {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

/* body, body * {
  cursor: none !important;
} */

@media (hover: none) and (pointer: coarse) {
  html, body {
    scroll-behavior: auto;
  }
}

.App {
  position: relative;
  background: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  top: calc(var(--ripple-y) - 100vw);
  left: calc(var(--ripple-x) - 100vw);
  width: 200vw;
  height: 200vw;
  background-color: var(--background-color);
  border-radius: 50%;
  transform-origin: center;
  transition: transform var(--transition-duration) ease-out, background-color var(--transition-duration);
  z-index: 1; /* Lower z-index */
  pointer-events: none;
}

/* Start with transform scale based on the mode */
.ripple-effect {
  transform: scale(0);
}

/* Ripple expands from scale(0) to scale(3) */
.ripple-expand {
  transform: scale(3);
}

/* Ripple retracts from scale(3) to scale(0) */
.ripple-retract {
  transform: scale(0);
}

.nav-rest {
  position: fixed;
  top: 0px;
  right: 5%;
  width: 30%;
  background-color: transparent;
  z-index: 1003;
  display: flex;
  justify-content: right;
  padding: 10px;
  transition: top 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.nav-rest.visible {
  top: 0;
}

.nav-rest ul {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 5px;
}

.nav-rest ul li {
  display: inline;
  color: var(--text-color);
  padding: 10px 15px;
  transition: all 0.3s ease;
}

.nav-rest ul li a {
  position: relative; /* Add this line */
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  z-index: 4;
}

/* Create the underline effect using ::after pseudo-element */
.nav-rest ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust if you want the line closer or farther from the text */
  width: 0;
  height: 4px; /* Thickness of the underline */
  background-color: var(--link-hover-color);
  transition: width 0.3s ease; /* Smooth animation */
}

/* Animate the underline on hover */
.nav-rest ul li a:hover::after {
  width: 100%;
}

@media (max-width: 420px) {
  .nav-rest {
    left: 45%;
    transform: translateX(-50%);
    width: auto; /* This will make the width of the navbar adjust based on content */
    justify-content: center; /* Center the content */
  }

  .nav-rest ul {
    gap: 0px; 
  }
}

.nav-home {
  position: fixed;
  top: 0px;
  width: 20%;
  background-color: transparent;
  z-index: 1002;
  display: flex;
  justify-content: left;
  padding: 10px 0;
  transition: top 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.nav-home.visible {
  top: 0;
}

.nav-home ul {
  list-style: none;
  padding-top: 3px;
  margin: 0;
  display: flex;
  gap: 20px;
}


.nav-home ul li {
  display: inline;
  color: var(--text-color);
  padding: 5px 0px;
  transition: all 0.3s ease;
}

.nav-home ul li a {
  position: relative; /* Add this line */
  color: var(--text-color);
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  z-index: 5;
}

/* Create the underline effect using ::after pseudo-element */
.nav-home ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust if you want the line closer or farther from the text */
  width: 0;
  height: 4px; /* Thickness of the underline */
  background-color: var(--link-hover-color);
  transition: width 0.3s ease; /* Smooth animation */
}

/* Animate the underline on hover */
.nav-home ul li a:hover::after {
  width: 100%;
}

@media (max-width: 520px) {
  .nav-home {
    justify-content: left;
    top: 8%;
    left: 23%;
    padding: 0 0;
  }
  .nav-home ul li {
    padding: 0 0;
  }
  .nav-home ul {
    gap: 0px; 
  }
}

/* Dark mode toggle button */
.dark-mode-toggle {
  background: none;
  border: none;
  color: var(--link-color);
  font-size: 1rem;
  cursor: pointer;
  padding: 0px;
  z-index: 6;
}


.side-menu {
  position: fixed;
  top: 0;
  left: -230px;
  width: 90px;
  height: 100%;
  background-color: var(--side-menu-bg);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 60px;
  z-index: 1001;
  transition: left 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
}

.side-menu ul li {
  display: block;
}

.side-menu ul li a {
  color: var(--link-color);
  padding: 5px;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  transition: all 0.3s ease;
}

.side-menu ul li a:hover {
  color: var(--link-hover-color);
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 2.0);
  border-radius: 5px;
}

.menu-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  z-index: 1003;
  display: block;
  border: none;
}

.menu-toggle img {
  width: 30px;
  height: 30px;
}

.section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: transparent;
}

/* Fonts */


.bitter-homename {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.home-screen {
  position: relative;
  padding: 0px;
  height: 100vh;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
}

.intro-name {
  position: absolute;
  left: 10%;
  top: 24%;
  font-size: 4rem;
  color: var(--text-color);
  width: max-content;
  z-index: 502;
}

.intro-text {
  position: absolute;
  font-size: 1rem;
  left: 10%;
  top: 43%;
  width: 350px;
  z-index: 501;
}

@media (max-width: 420px) {
  .intro-name {
    font-size: 3rem;
    top: 19%;
    color: var(--text-color);
    width: max-content;
  }
  
  .intro-text {
    position: absolute;
    font-size: 0.9rem;
    left: 17%;
    top: 62%;
    width: 270px;
  }
}

.array-text {
  position: absolute;
  padding: 0px;
  z-index: 7003;
  font-size: 2rem;
  color: var(--text-color);
  left: 10%; /* This can be adjusted to your desired position */
  top: 35%;
  z-index: 7002;
  width: max-content;
}

.Typewriter {
  position: relative;
  display: flex;
  width: auto; /* Allow auto width */
  text-align: left;
  z-index: 7002;
}

@media (max-width: 700px) {
  .array-text {
    position: absolute;
    padding: 0px;
    z-index: 7003;
    font-size: 2rem;
    color: var(--text-color);
    left: 10%; /* This can be adjusted to your desired position */
    top: 35%;
    z-index: 7002;
    width: max-content;
  }
  
  .Typewriter {
    position: relative;
    display: flex;
    width: auto; /* Allow auto width */
    text-align: left;
    z-index: 7002;
  }
}

@media (max-width: 420px) {
  .array-text {
    position: absolute;
    z-index: 7003;
    font-size: 2rem;
    color: var(--text-color);
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 7002;
    width: max-content;
  }
  
  .Typewriter {
    position: absolute;
    display:flex;
    width: max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;
    padding-top: 60px;
    z-index: 7002;
  }
}

.frontpage-links ul {
  position: absolute;
  list-style: none;
  display: flex;
  padding: 0px;
  gap: 20px;
  top: 53%;
  left: 10%;
}

.ln-logo { 
  width: 45px;
  height: auto;
  z-index: 10;
}

@media (max-width: 420px) {
  .frontpage-links ul {
    position: absolute;
    list-style: none;
    display: flex;
    padding: 0px;
    gap: 20px;
    top: 75%;
    left: 20%;
  }
  
  .ln-logo { 
    width: 45px;
    height: auto;
    z-index: 10;
  }
}

.ln-logo img:hover { 
  padding-right: 20px;
  padding-bottom: 20px;
  width: 55px;
  height: auto;
}


.inline-container {
  display: inline-block;
  vertical-align: middle;
}

#static_text, #static_text1 {
  display: inline;
  vertical-align: middle;
}

/* About container */
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 3; /* Increase z-index */
  position: relative; /* Add this to create a new stacking context */
}

.human {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 140px;
  left: 8vw;
  padding: 20px;
  z-index: 4;
}

.thinking-text {
  min-width: 200px;
}

.thinking img {
  max-width: 55%;
  min-width: 100px;
  height: auto;
  border-radius: 10px;
  z-index: 5;
}

.computer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 140px;
  padding: 20px;
  z-index: 2;
}

.IT-text {
  min-width: 200px;
  max-width: 300px;
}

.IT img {
  max-width: 70%;
  min-width: 200px;
  height: auto;
  border-radius: 10px;
  z-index: 20;
}

@media (max-width: 800px) {
  .about-container {
    flex-direction: column;
    align-items: left;
  }
  .human {
    align-items: left;
    top: 80px;
  }

  .thinking-text {
    font-size: 0.9rem;
    width: 200px;
  }
  .thinking img{
    width: 100px;
  }
  
  .computer {
    position:relative;
    align-items: flex-start;
    left: 8vw;
    flex-direction: column;
    top: 30px;
  }
  .IT-text {
    position:relative;
    font-size: 0.9rem;
    justify-content: center;
    width:280px;
  }
  .IT-text2 {
    width: 140px;
  }
  
  .IT img {
    position: absolute;
    min-width: 180px;
    width: 180px;
    position: absolute;
    top: 190px;
    left: 230px; 
    transform: translateX(-50%); 
    z-index: 1; 
  }
  p {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}

.boxed-text-container {
  width: 300px;
  height: 200px; /* Keep the fixed height */
  background-color: transparent;
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
  color: var(--text-color);
  z-index: 7010;
  overflow: hidden;
}

.wspic {
  position: relative;
  width: 300px; /* Keep the fixed width */
  height: auto;
  border-radius: 7%;
  box-shadow:
    inset 0 -3em 3em rgba(0, 200, 0, 0.3),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
  z-index: 7011;
}

/* Adjustments for mobile view under 700px */
@media (max-width: 800px) {
}

/* Adjustments for mobile view under 450px */
@media (max-width: 450px) {
}


.boxed-text-about {
  position: relative;
  height: auto;
  text-align: justify;
  font-size: 0.8rem;
}

.contactinfo-text {
  position: absolute;
  text-align: center;
  color: var(--text-color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.fade-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  z-index: 0;
}

.fade-section.in-view {
  opacity: 1;
  transform: translateY(0);
  z-index: 0;
}

.projects-section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Projects Section */
.projects-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  margin: 0 auto;
  gap: 0px;
  transition: all 0.4s ease;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Slide styling */
.project-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.project-media-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 60vw;
  width: auto;
}

video {
  width: 100vw;
  vertical-align: top;
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.code-snippets {
  position: absolute;
  width: 450px;
  top: 50%;
  left: 50%;
  padding-left: 40px;
  transform: translate(-50%, -50%);
  max-height: 100vh; 
  overflow: hidden;
  display: grid;
  /* grid-template-rows: auto auto; */
  gap: 20px; 
  z-index: 300;
}

.code-box {
  position: absolute;
  background-color: var(--code-box-background);
  padding: 2px;
  color: var(--code-box-text-color);
  font-size: 0.53rem !important;
  overflow: hidden;
  z-index: 300;
}

@media (max-width: 580px) {
  .code-box {
    font-size: 0.43rem !important; 
  }
  .code-snippets {
    width: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Project descriptions section */
.project-descriptions {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.0);
  height: auto;
  right: 0px;
  font-size: 0.6rem;
  border-radius: 8px;
  transition: flex 0.4s ease;
  z-index: 7;
}

.project-descriptions ul {
  list-style-type: none;
  background-color: transparent;
  z-index: 8;
}

.project-descriptions li {
  background-color: transparent;
  padding: 0px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: var(--text-color);
}

.project-descriptions, 
.project-descriptions ul, 
.project-descriptions li {
  position: absolute;
  touch-action: pan-y;
  z-index: 10;
}

.project-descriptions li:hover {
  color: var(--link-hover-color);
  background-color: var(--project-descriptions-hover-bg);
}

/* Slide content styling */
.project-image-container,
.code-container,
.project-description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Slide controls styling */
.slide-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 19002;
}

.slide-controls button {
  background: none;
  border: 1px solid var(--link-color);
  color: var(--link-color);
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 1rem;
}

.slide-controls button:hover {
  background-color: var(--link-hover-color);
  color: var(--text-color);
}

/* Project selector styling */
.project-selector {
  position: relative;
  top: 30%;
  z-index: 19001;
}

.project-selector ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 580px) {
  .project-selector ul {
    display: flex;
  }
  .project-selector {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .project-description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}

.project-selector li {
  padding: 5px;
  cursor: pointer;
}

.project-selector li:hover {
  background-color: var(--project-descriptions-hover-bg);
}

.project-selector li.selected {
  background-color: var(--link-hover-color);
}

.project-selector img {
  width: 30px;
  height: 30px;
}

/* Project image */
.project-image {
  width: 30%;
  height: 30%;
}

/* Ensure the code box fills its container */
.code-box {
  width: 100%;
  height: 100%;
}

/* Slide controls styling */
.slide-controls {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20000;
}

.slide-controls .dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: var(--code-box-border-color);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 99999;
}

.slide-controls .dot.active {
  background-color: var(--link-hover-color);
}

.slide-controls .dot:hover {
  background-color: var(--link-hover-color);
}

@media (max-width: 580px) {
  .slide-controls {
    bottom: 20%;
  }
}


@media (max-width: 640px) {
  .project-image {
    width: 0;
    height: 0; 
  }
}

.dark-mode-toggle {
  fill: currentColor; /* Inherit color from parent */
}

.mymoon, .mysun {
  position: relative;
  width: 15px;
  height: auto;
  transition: transform 0.1s ease-out;
  z-index: 5;
}


.trianglepyramid{
  position: absolute;
  left: 55%;
  top: 15%;
  z-index: 7001;
  width: 500px;
  height:auto;
  animation: trianglepyramidanim 8s infinite;
  transform: rotate(-5deg);
  pointer-events: none; /* This ensures the image doesn't interfere with interactions below */
}


@keyframes trianglepyramidanim {
  50% {
    transform: translate(10px , -5px);       
  }
}

@media (max-width: 1000px) {
  .trianglepyramid {
    left: 40%;
  }
}

@media (max-width: 600px) {
  .trianglepyramid {
    left: 18%;
    top: 17%;
    width: 100px;
  }
}

@media (max-width: 420px) {
  .trianglepyramid {
    left: 3%;
    top: 20%;
    width: 350px;
  }
}


.worldart{
  position: fixed;
  align-content: bottom;
  left: 0%;
  bottom: -50%;
  z-index: 7001;
  width: 100vw;
  height:80vw;
  z-index: 999;
}

@media (max-width: 1280px) {
  .worldart {
      bottom: -30%;
  }
}
@media (max-width: 1040px) {
  .worldart {
      bottom: -20%;
  }
}
@media (max-width: 840px) {
  .worldart {
      bottom: -10%;
  }
}
@media (max-width: 640px) {
  .worldart {
      bottom: 0%;
  }
}


.profile{
  display: flex;
  width: 30px;
  height: 30px;
}

.profilepic {
  padding-left: 5px;

}

.email {
  display: inline-flex;
}
/* Additional styles for syntax highlighting if needed */
/* You can adjust the code font size and colors here */

/* Adjust styles for other components as needed */

/* Custom Cursor Style */
/* .custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  pointer-events: none;
  will-change: transform;
  z-index: 10000;
} */
